body {
  background: #020403;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/michael-jackson.jpeg);
  background-repeat: no repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 128px;
  font-weight: 700;
  margin: 0;
}

header h2 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-family: "Roboto", serif;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 16px;
  background-color: #885df1;
  color: white;
  padding: 16px 32px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 32px;
  display: inline-block;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../images/michael-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

footer a {
  font-family: "Roboto", serif;
  color: white;
  opacity: 0.8;
}

footer p {
  font-family: "Poppins";
  font-size: 16px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
